// Grayscale
$black: #000;
$gray: #484c51;
$gray-medium: #787f87;
$gray-light: #f3f3f3;
$light: #f8fafc;
$white: #fff;

// brand
$pink: #ef798a;
$red: #f92a80; // dark pink
$yellow: #f1d302;
$blue: #235789;
$green: green;
