// colors
  $black: #222;

  // .orange-crush {
    // $color-1: #f8a561;
    // $color-2: #fe856a;
    // $color-3: #f1dcc8;
    // $color-4: #e4f7cc;
  // }

  // .blue-green {
    // $color-1: #ecff20;
    // $color-2: #3fb2e0;
    // $color-3: #eafeca;
    // $color-4: #13a155;
  // }

  // .og {
  $color-1: #ef798a;
  $color-2: #f92a80;
  $color-3: #235789;
  $color-4: #f1d302;
  // }

  // .pinks {
    // $color-1: #f92a80;
    // $color-2: #ef798a;
    // $color-3: #f7d1e1;
    // $color-4: #ff84b7;
  // }