$font-primary: 'Anonymous Pro', monospace;
$font-secondary: $font-primary;

h1, h2, h3, h4, h5, h6, p, a, small {
  color: $black;
  text-decoration: none; 
  font-family: $font-primary; 
  font-size: $base-unit; 
}

  html { 
    font-size: $base-unit; 
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Anonymous Pro', monospace;
    color: $black;
  }

  p { 
    letter-spacing: 0.75px; 
    font-size: $base-unit * 1.5;
    font-weight: 300;
  }

  p + p { margin-top: 1rem;}

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;

    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2rem; 
    font-weight: 700;
    line-height: 1.2;
  }

  .info-links a {
    width: max-content;
    margin-left: auto;
  }

  a {
    color: $black;
    letter-spacing: 0.75px; 
    font-size: $base-unit * 1.5;
    line-height: 1.2;
    text-decoration: none; 
    display: block;
    font-weight: 700;

    &:hover { text-decoration: underline; }
    &:nth-of-type(1n):hover { color: $color-1; }
    &:nth-of-type(2n):hover { color: $color-2; }
    &:nth-of-type(4n + 1):hover { color: $color-3; }
    &:nth-of-type(5n):hover { color: $color-4; }
  }