@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$font-heading: 'IBM Plex Mono', monospace;
$font-text: $font-heading;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
small {
	font-weight: 500;
	color: $black;
	text-decoration: none;
	font-family: $font-heading;
	line-height: 1.33;
	font-size: 18px;
	text-align: center;
	position: relative;
	z-index: 1;
}

h1 {
	font-weight: 500;
	font-size: 64px;
	line-height: 1.25;
}

h2 {
	font-weight: 500;
	font-size: 48px;
	line-height: 1.33;
}

h3 {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.2;
}

h4 {
	font-weight: 500;
	font-size: 32px;
	line-height: 1.25;
}

h5 {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.33;
}

h6 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.33;
	text-decoration: underline;
	margin-bottom: 8px;
	// border-bottom: 1px solid black;
}

p,
li {
	font-family: $font-text;
	font-weight: 300;
	line-height: 1.33;

	b {
		font-weight: 300;
	}
}

small {
	font-weight: 300;
	font-size: $base-unit * 0.8;
}

span,
a {
	transition: color 15s;
	&:hover {
		transition: 0s;
	}

	&:nth-child(1n):hover {
		color: $pink;
	}
	&:nth-child(2n):hover {
		color: $blue;
	}
	&:nth-child(4n + 1):hover {
		color: $red;
	}
	&:nth-child(5n):hover {
		color: $green;
	}
}

// span {
//   display: inline-block;
//   &:hover { transform: translateY(2px); }
// }

a:hover {
	text-transform: uppercase;
}
